
h1{
color: aqua;
font-style: oblique;
font-size: 55px;
}

h1:hover{
background-color: aliceblue;
color:orangered;
}


body {
    background-color: black;
}

nav {
    color:aquamarine;
}

#inline{
    display: inline;
}

.color {
    color: blueviolet;
    padding: 20px 10px 20px 10px;
    margin: 20px;
    border: 2px solid red;
    height: 30px;
    width: 20px;

}

#id1{
    color: brown;
}

#id2{
    color: orange;
}

.rgb{
    color: rgb(236, 244, 102);
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.exa{
    color: #5D09A4;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


p:hover, h1:hover, li:hover{

background-color: blanchedalmond; 

}


