
h1{
color: aqua;
font-style: oblique;
font-size: 55px;
}

h1:hover{
background-color: aliceblue;
color:orangered;
}


body {
    background-color: black;
    height: 10000px;
}

nav {
    color:aquamarine;
}

#inline{
    display: inline;
}

.color {
    color: blueviolet;
    padding: 20px 10px 20px 10px;
    margin: 20px;
    border: 2px solid red;
    height: 30px;
    width: 20px;

}

#id1{
    color: brown;
}

#id2{
    color: orange;
}

.rgb{
    color: rgb(236, 244, 102);
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.exa{
    text-align: center;
    color: #5D09A4;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


p:hover, h1:hover, li:hover{

background-color: blanchedalmond; 

}

.padre{

width: 100%;
background-image: url("https://img.freepik.com/vector-gratis/retro-fijo-o-telefono-aislado_1308-134786.jpg?size=626&ext=jpg&ga=GA1.1.1687694167.1715472000&semt=ais_user");
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: contain;
height: 150px;

}

.hijo1{

color: purple;
font-size: 30px;
width: 200px;
margin: 0 auto;
margin-top: 15px;
border: 2px solid purple;
display: inline-block;
margin-left: 15px;
margin-right: 15px;

}


.hijo2{

    color: purple;
    font-size: 30px;
    width: 200px;
    margin: 0 auto;
    margin-top: 15px;
    border: 2PX solid purple;
    display: inline-block; 
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    
    }


.hijo3{

        color: purple;
        font-size: 30px;
        width: 200px;
        margin: 0 auto;
        margin-top: 15px;
        border: 2px solid purple;
        display: inline-block; 
        margin-left: 15px;
        margin-right: 15px; 
        
        }
        